# Server Configuration
PORT=3001
NODE_ENV=development

# Supabase Configuration
SUPABASE_URL=https://uilgbckxtmgnnkqmtbmr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpbGdiY2t4dG1nbm5rcW10Ym1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMzQ5NzgsImV4cCI6MjA4OTYxMDk3OH0.YHK4kv-LoXAgZiprjJGr8Qv9Z1C_NYpp-XOfz9QGLvg

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=duzae2r2u
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Security
JWT_SECRET=
